* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: white;
    background-color: #23211d;
    font-family: "outfit";
    text-decoration: none;
}

a {
    text-decoration: none;
}